#Itinerary-Detail-Component {
  .itinerary-detail-section {
    outline: solid grey 2px;
    padding: 2em;
    width: 100%;
    margin: 2em 0;
    img {
      height: 75px;
      width: 75px;
    }
  }
}
