#Header-Component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #38A716;
  width: 100vw;
  height: 10vh;
  margin-top: 0;
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      height: 80px;
    }
  }
  
  ul {
    display: flex;
    flex-direction: row;
    li {
      background-color: white;
      color: green;
      list-style: none;
      padding: 1em 2em;
      margin: 0 1em;
    }
  }
}
