#Messages-Container {
    .messages-list {
        width: 30vw;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 10px;
        left: 35vw;
    }
    .single-message {
        width: 30vw;
        justify-content: space-between;
        align-items: center;
        outline: solid darkgrey 2px;
        margin-bottom: 5px;
        padding-left: 12px;
        h5 {
            width: 50%;
        }

    }
    .OK {
        color: white;
        background-color: #00B33D;
    }
    .Warning {
        color: white;
        background-color: #F33D00;
    }
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
    
    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
}