:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  #Homepage-Image-Container {
    margin-top: 2em;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
