<h1>Book A Trip</h1>
<h3>Select Options</h3>
<label for="select-destination">Destination City</label>
<select [(ngModel)] = "currentBooking.destination" name="select-destination" id="select-destination">
  <option *ngFor="let city of cities" [value]="city">{{city}}</option>
</select>
<ul id="Trip-Type-Selector" class="row">
  <li (click)="toggleCar()" class="select-trip-type" [class.selected]="currentBooking.car === true">
    Car
  </li>
  <li (click)="toggleHotel()" class="select-trip-type" [class.selected]="currentBooking.hotel === true">
    Hotel
  </li>
  <li (click)="toggleFlight()" class="select-trip-type" [class.selected]="currentBooking.flight === true">
    Flight
  </li>
</ul>



<form id="New-Booking-Form">
    <div *ngIf="currentBooking.car === true" class="form-selection-indicator">
      <img src="../../assets/car.png" alt="">
      <h5>Select Car Type</h5>
      <select [(ngModel)] = "currentBooking.carType" name="select-car-type" id="select-car-type">
        <option *ngFor="let carType of carTypes" [value]="carType">{{carType}}</option>
      </select>
    </div>

    <div *ngIf="currentBooking.hotel === true" class="form-selection-indicator">
      <img src="../../assets/lodging.png" alt="">
      <h5>Select Star Rating</h5>
      <star-rating value="1" checkedcolor="gold" uncheckedcolor="black" size="24px"    readonly="false" (rate)="checkHotelRating($event)"></star-rating>
    </div>

    <div *ngIf="currentBooking.flight === true" class="form-selection-indicator">
      <img src="../../assets/flight.svg" alt="">
      <h5>Select Flight Time</h5>
      <select [(ngModel)]="currentBooking.flightTime" name="select-flight-time" id="select-flight-time">
        <option *ngFor="let time of flightTimes" value="{{time}}">{{time}}</option>
      </select>
    </div>
</form>

<div class="button-group">
  <button type="button" class="good" name="button"
    [ngClass]="{'disabled': canSubmit === false}"
    (click)="submitBooking()"
    [disabled]="canSubmit === false">BOOK IT</button>
  <button type="clear" class="clear">Clear</button>
</div>
