<h2>Book A Trip</h2>
<ul id="Trip-Type-Selector" class="row">
  <li (click)="toggleCar()" class="select-trip-type" [class.selected]="currentBooking.car === true">
    Car
  </li>
  <li (click)="toggleHotel()" class="select-trip-type" [class.selected]="currentBooking.hotel === true">
    Hotel
  </li>
  <li (click)="toggleFlight()" class="select-trip-type" [class.selected]="currentBooking.flight === true">
    Flight
  </li>
</ul>



<form id="New-Booking-Form">

  <div *ngIf="currentBooking.flight === true" class="">
    <p>
      FLIGHT
    </p>
    
  </div>
  <div *ngIf="currentBooking.hotel === true" class="">
    
    <p>HOTEL</p>
    
  </div>
  <div *ngIf="currentBooking.car === true" class="">
    <p>CAR</p>
  </div>
  <div class="button-group">
    <button type="button" class="good" name="button">BOOK IT</button>
    <button type="clear" class="clear">Clear</button>
  </div>

</form>
